* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url("./assets/fondo.solo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.container {
  position: relative;
  padding: 20px;
}

.titulo {
  position: absolute;
  top: 80px;
  left: 250px;
  color: #f061c5;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 11em;
  font-weight: 400;
}

.slogan {
  position: absolute;
  top: 400px;
  left: 400px;
  color: black;
  font-family: "Cookie", cursive;
  font-size: 3em;
  font-weight: 400;
}

.slogan2 {
  position: absolute;
  top: 450px;
  right: 400px;
  color: black;
  font-family: "Cookie", cursive;
  font-size: 3em;
  font-weight: 400;
}

.imagen-superior-derecha {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.imagen-superior-izquierda {
  position: absolute;
  top: -40px;
  left: -30px;
  width: 100%;
  height: auto;
  max-width: 200px;
  transform: rotate(145deg);
}

.imagen-central-izquierda {
  position: absolute;
  top: 110px;
  left: 0px;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  max-width: 300px;
  margin-top: 350px;
}

.imagen-inferior-derecha {
  position: absolute;
  bottom: -850px;
  left: 1300px;
  width: 100%;
  height: auto;
  max-width: 300px;
 }

.custom-INICIO {
  background-color: #fd64dc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  padding: 10px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 600px;
}

.custom-FRUTALES {
  background-color: #fd64dc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  padding: 10px 60px;
  position: absolute;
  top: 200%;
  left: 40%;
  transform: translate(-50%, -50%);
  margin-top: 600px;
}

.custom-CREMOSOS {
  background-color: #fd64dc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  padding: 10px 60px;
  position: absolute;
  top: 200%;
  left: 60%;
  transform: translate(-50%, -50%);
  margin-top: 600px;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 3em;
  }

  .slogan, .slogan2 {
    font-size: 1.5em;
  }

  .imagen-superior-derecha, .imagen-superior-izquierda, .imagen-central-izquierda, .imagen-inferior-izquierda {
    max-width: 200px;
  }

  .custom-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}