* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  padding: 20px;
}

.titulo {
  position: absolute;
  top: 80px;
  left: 250px;
  color: #f061c5;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 11em;
  font-weight: 400;
}

.slogan {
  position: absolute;
  top: 400px;
  left: 400px;
  color: black;
  font-family: "Cookie", cursive;
  font-size: 3em;
  font-weight: 400;
}

.slogan2 {
  position: absolute;
  top: 450px;
  right: 400px;
  color: black;
  font-family: "Cookie", cursive;
  font-size: 3em;
  font-weight: 400;
}

.imagen-superior-derecha {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.imagen-superior-izquierda {
  position: absolute;
  top: -40px;
  left: -30px;
  width: 100%;
  height: auto;
  max-width: 200px;
  transform: rotate(145deg);
}

.imagen-central-izquierda {
  position: absolute;
  top: 110px;
  left: 0px;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  max-width: 300px;
  margin-top: 350px;
}

.imagen-inferior-derecha {
  position: absolute;
  bottom: -850px;
  left: 1300px;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.custom-INICIO {
  background-color: #fd64dc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  padding: 10px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 600px;
}

.custom-FRUTALES {
  background-color: #fd64dc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  padding: 10px 60px;
  position: absolute;
  top: 200%;
  left: 40%;
  transform: translate(-50%, -50%);
  margin-top: 600px;
}

.custom-CREMOSOS {
  background-color: #fd64dc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  padding: 10px 60px;
  position: absolute;
  top: 200%;
  left: 60%;
  transform: translate(-50%, -50%);
  margin-top: 600px;
}

/* pc */
@media screen and (min-width: 1024px) {
  body {
    font-family: Arial, sans-serif;
    background-image: url("./assets/fondo.solo.jpg");
    background-size: cover;

  }

  .menu {
    display: flex;
    justify-content: end;
  }

  .titular {
    display: flex;
    justify-content: center;
    color: #f061c5;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-size: 80pt;
  }

  .lineas-despliegue {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2vw;
    font-size: 24pt;
    text-align: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  li {
    padding: 1vw;
  }

 .nav-bottom {    
margin-top: 550px;
}

}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-family: Arial, sans-serif;
    background-image: url("./assets/fondo.solo.jpg");
    background-size: cover;
  }

  .menu {
    display: flex;
    justify-content: end;
  }

  
  .titular {
    display: flex;
    justify-content: center;
    color: #f061c5;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-size: 40pt;
  }
 

  .lineas-despliegue {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4vw;
    font-size: 16pt;
    text-align: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  li {
    padding: 1vw;
  }

}
/* telefono */
@media screen and (max-width: 767px) {
  body {
    font-family: Arial, sans-serif;
    background-image: url("./assets/fondo.solo.jpg");
    background-size: cover;
  }

  .menu {
    display: flex;
    justify-content: end;
  }
  .titular {
    display: flex;
    justify-content: center;
    color: #f061c5;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-size: 10pt;
    font-size: 20pt;
  }

  .lineas-despliegue {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4vw;
    font-size: 14pt;
    text-align: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
  }

  li {
    margin: 2vw;
    background-color: rgba(240, 97, 197, 0.3);
  }
  
  .heladoslista {
    background-color: white;
    height: 50vh;
  }
}