$primary-color: #f061c5;
$secondary-color: black;
$background-color: #fd64dc;
$font-family-main: 'Arial, sans-serif';
$font-family-titulo: 'Love Ya Like A Sister', cursive;
$font-family-slogan: 'Cookie', cursive;
